body{
	box-sizing: border-box;
	background-color: #C8F7C5; 
	font-family: "Merriweather Sans";
}
h1{
	text-align: center;
	text-shadow: 3px 2px 4px #8CAC89;
	color: #50624E;
}

main{
	/*border:1px solid black;*/
	width: 80%;
	margin:5rem auto;
	padding:1.25rem 20px;
	background-color: white;
	-webkit-box-shadow:3px 3px 5px 5px #8CAC89;
	-moz-box-shadow:3px 3px 5px 5px #8CAC89;
	box-shadow: 3px 3px 5px 5px #8CAC89;


}

#refresh{
	/*border:1px solid black;*/
	text-align: right;
	
	
}

div{
	margin-bottom:1.5rem;
	width: 100%;
	/*border:1px solid black;*/


}
input{
	/*border:2px solid red;*/
	width: 90%;
	line-height: 2.25;
}


/*#img img{
	width: 100%;
	/*height: 100%;}*/

section{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap:1rem;
	border:none;
	/*border:1px solid black;*/

}
i{
	cursor: pointer;
	/*border:1px solid black;*/
	padding:10px;
	-webkit-box-shadow:1px 1px 1px 1px #8CAC89;
	-moz-box-shadow:1px 1px 1px 1px #8CAC89;
	box-shadow: 1px 1px 1px 1px #8CAC89;

}

article{
	/*border:1px solid black;*/
	margin-bottom: 1rem;
	width: 100%;
	background-color: #C8F7C5;
	-webkit-box-shadow:1px 1px 2px 3px #A0C59D;
	-moz-box-shadow:1px 1px 2px 3px #A0C59D;
	box-shadow: 1px 1px 2px 3px #A0C59D;

}


@media (min-width: 768px) and (max-width: 1024px) {
	section{
		grid-template-columns: repeat(2,minmax(200px,400px));
		grid-gap: 1rem;
	}
	article p{
		overflow: hidden;
	}
}